<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
         

        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link active" href="">1 Introduzione</a>
          <span class="mdl-navigation__link">2 Struttura del catalogo</span>
          <span class="mdl-navigation__link">ciao e basta</span>
          <span class="mdl-navigation__link">ciao michele</span>
          <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
